In [20]:
import pandas as pd
import matplotlib
from matplotlib import style
style.use("seaborn")
import matplotlib.pyplot as plt

In [21]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [22]:
engine=create_engine("sqlite:///./Resources/hawaii.sqlite", echo=False)

In [6]:
inspector=inspect(engine)

In [7]:
inspector.get_table_names()

['measurement', 'station']

In [14]:
m_columns=inspector.get_columns('measurement')

In [15]:
for col in m_columns:
    print(col['name'], col['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [16]:
s_columns=inspector.get_columns('station')

In [17]:
for col in s_columns:
    print(col['name'], col['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [42]:
m_results = engine.execute ("SELECT * FROM measurement LIMIT 10").fetchall()
for r in m_results:
    print(r)

(1, 'USC00519397', '2010-01-01', 0.08, 65.0)
(2, 'USC00519397', '2010-01-02', 0.0, 63.0)
(3, 'USC00519397', '2010-01-03', 0.0, 74.0)
(4, 'USC00519397', '2010-01-04', 0.0, 76.0)
(5, 'USC00519397', '2010-01-06', None, 73.0)
(6, 'USC00519397', '2010-01-07', 0.06, 70.0)
(7, 'USC00519397', '2010-01-08', 0.0, 64.0)
(8, 'USC00519397', '2010-01-09', 0.0, 68.0)
(9, 'USC00519397', '2010-01-10', 0.0, 73.0)
(10, 'USC00519397', '2010-01-11', 0.01, 64.0)

In [47]:
s_results = engine.execute("SELECT * FROM station").fetchall()
for r in s_results:
    print(r)

(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9)
(8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)

In [43]:
Base=automap_base()
Base.prepare(engine,reflect=True)
Measurements=Base.classes.measurement
Stations=Base.classes.station

In [45]:
session=Session(engine)

In [50]:
results_m=session.query(Measurements.id, Measurements.station, Measurements.date, Measurements.prcp, Measurements.tobs).\
    order_by(Measurements.date.desc()).all()

In [170]:
sel = [results_m.date, m_results.prcp]
yearly_precip = session.query(*sel).\
    filter(func.strftime("%Y", results_m.date)=='2016')

AttributeError: 'list' object has no attribute 'date'

In [ ]:
# results_s=session.query()

In [164]:
date=[date[2] for date in results_m]

In [165]:
# print(date)

In [166]:
most_recent=date[0]
most_recent

'2017-08-23'

In [167]:
# import datetime
# compare_date = datetime.datetime.strptime(most_recent, '%Y-%m-%d') - datetime.timedelta(days=365)
# compare_date = compare_date.strftime('%Y-%m-%d')
# compare_date

In [168]:
# from dateutil.parser import parse

# most_recent = parse(most_recent)
# compare_date = parse(compare_date)
              
# print(f"Most Recent Date {most_recent}, Compare Date {compare_date}")